# `runtime-env-cra` needs to have this defined to work properly
# See https://www.npmjs.com/package/runtime-env-cra
NODE_ENV=development

# Should TypeScript generate source maps?
GENERATE_SOURCEMAP=false

# Which port to serve the frontend on
PORT=3000

# Point this to the API url.
REACT_APP_BFF_URL=http://localhost:8084
REACT_APP_SHOW_BANNER=false
REACT_APP_HCAPTCHA_KEY=88510e22-fe9a-4421-ae22-e29847ebebba
