# `runtime-env-cra` needs to have this defined to work properly
# See https://www.npmjs.com/package/runtime-env-cra
NODE_ENV=development

# Should TypeScript generate source maps?
GENERATE_SOURCEMAP=false

# Which port to serve the Frontend on
PORT=3000

# Point this to the API URLs
REACT_APP_API_URL=https://bff-dev.cubecommons.ca
REACT_APP_AUTH_SERVICE_URL=https://bff-auth-dev.cubecommons.ca
